{% extends 'base.html.twig' %}

{% block body %}
<header>
  <div class="container">
      <div class="row">
          header
      </div>
  </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="mid-box">
                <div class="item">
                    <h1>Council</h1>
                    <em>of</em>
                    <h2>Evangelical Presbyterian Church of Sikkim</h2>
                    <span>Reg no. - 551 / Government of Sikkim</span>
                </div>
            </div>
        </div>
       <div class="col-lg-12">
           <span class="link-btn"><a href="#">Get More Information</a> </span>
           <div class="slideDown">
               <ul class="sub-link">
                   <li><a href="#">North East Presbytery</a></li>
                   <li><a href="#">West Presbytery</a> </li>
                   <li><a href="#">South Presbytery</a> </li>
               </ul>
           </div>
       </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $('.link-btn').click(function(e){
        $('.slideDown').slideToggle();
    });

</script>
{% endblock %}