@import "../css/reset.css";

// Font Variables
$open-sans: 'Open Sans', sans-serif;
$play-fair: 'Playfair Display', serif;
$montserrat:'Montserrat', sans-serif;
html, body{
  height: 100%;
  font-size: 16px;
}

body {
  color:#111;
}

h1{
  font-size: 1.500em;
}

#screen1{
  background:url(../images/background-img.jpg) #213159;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}
a:link{text-decoration: none;}

header{
  height:70px;
  background: #213159;
}


.mid-box
{
  padding-top: 10%;

  h1 {
    font-family:$play-fair;
    font-weight:700;
    font-size:3em;
    line-height:50px;
    margin-top:10px;
  }

  em{
    font-family:$play-fair;
    font-weight:700;
    font-style: italic;
    font-size: 1.475em;
    line-height:50px;
  }

  h2{
    font-family:$montserrat;
    font-weight:normal;
    font-size:2.250em;
    line-height:40px;
  }

  span{
    display: block;
    margin-bottom:15px;
    font-size:0.9em;
    line-height:30px;
    letter-spacing: normal !important;
    font-family:$open-sans;
    text-transform:none !important;
  }

  .item
  {
    width:100%;
    height:100%;
    text-align: center;
    color: #f0f0f0;
    text-transform: uppercase;
    letter-spacing:0.1em;
  }

}

.link-btn{
  display: block;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  height:4px;
  text-align:center;
  font-family:$open-sans;
  font-weight:normal;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  z-index:99;
  a{
    background:#F04B4C;
    padding:10px;
    color:#FFF;
  }
}

.slideDown {
  display: none;
  margin-top: 50px;
  font-family:$open-sans;
}
.grabPromo { cursor:pointer; }

.sub-link{
  text-align: center;

  li{
    display:inline-block;
    margin-left:15px;

    a{
      display: block;
      color:#FFF;
      border:1px solid #f0f0f0;
      padding:10px;
      margin-bottom:20px;
    }
  }

}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #213159;
  font-family:$open-sans;

  li {
  display: inline-block;
  padding: 24px 10px;
    font-size:0.875em;
}

  li a {
  color: #f0f0f0;
  text-transform: uppercase;
}
  li a:hover{
    color:#FFF;
  }
  li a:visited{
    color:#FFF;
  }


}
section {
  height:100vh;
  font-family:$open-sans;
}

#screen2{
  padding:60px 0;
  line-height: 24px;
  font-size:0.875em;
}

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}